@import 'fonts.css';
body {
    font-family: "MyriadPro-Light.otf";
    font-size: 18px;
}
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
/* ========== HEADER ============= */
header {
    color: white;
    padding-top: 70px;
    padding-bottom: 490px;
    background-image: url(../images/header_bcg.jpg);
    background-size: cover;
}
.logo {
    font-size: 65px;
    font-weight: 700;   
    letter-spacing: -3px;
    font-family: 'MYRIADPRO-BOLD.OTF';
}
.awesome {
    margin-top: -45px;
}
.logo span{
    color:#ffc600;
}
.header_nav {
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';
}
.header_nav ul li a{
    margin-right: 35px ;
    color:#ffc600 ;
    font-weight: 400;
    
}
nav ul li a:hover {
    color:white !important;
}
.header_menu {
    margin-top: 20px;
}


/* ============= ABOUT =============== */
.about {
    padding-top: 42px;
    padding-bottom: 110px;
}
.about .head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "MYRIADPRO-SEMIBOLD.OTF";
    margin-top: -30px;
}
.about .head div {
    width:110px;
    height: 2px;
    background: rgb(163, 162, 162);
    margin-left: 135px;
    margin-top: -50px;
}
.about .head_top-text {
    color: #717171;
    font-size: 28px;
    font-weight: 400;
}
.about .head_bott-text {
    font-size: 68px;
    color: black;
    font-weight: 400;
    margin-top: -56px;
}
.about .head_bott-text::first-letter {
    color:#ffc600;
    font-size: 80px;
}
.about .head_top-text::first-letter {
    font-size: 52px;
}
.about-line {
    width:2px;
    height:130px;
    margin-right: 20px;
    background: rgb(185, 183, 183);
    margin-top: -10px;
}
.about .content_top-text {
    font-size: 15px;
    color: #363636;
    font-weight: 500;
    margin-bottom: 15px;
    font-style: italic;
}
.about .content_bott-text {
    font-size: 15px;
    color: #8b8b8b;
}
.about .about_gamepad {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
}
.about .about_gamepad .circle {
    width:58px;
    height:58px;
    border:2px solid #fdad10;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.about .about_gamepad .circle i {
    font-size: 30px;
}
.about .about_gamepad h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
}
.about .about_gamepad p {
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    margin-bottom: 15px;
}

/* ========== PROJECTS =========== */
.projects {
    padding-top: 15px;
}
.projects .head_text {
    display:flex;
    font-size: 34px;
    color:#000;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';  
}
.projects .head {
    display: flex;
    flex-direction: column;
}
.projects .head .head_top-text {
    margin-right: 12px;
}
.projects .head .head_top-text:first-letter {
    color:#ffc600;
    font-size: 52px;
}
.projects .head .head_bott-text:first-letter {
    font-size: 52px;
}
.projects .head .line {
    width:140px;
    height:1px;
    background: rgb(185, 183, 183);
    margin-left: 140px;
    margin-top: -30px;
}
.projects .project-menu {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 20px; 
    margin-bottom: 25px; 
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';   
}
.projects .project-menu li {
    margin-right: 10px;
    position: relative;
}
.projects .project-menu li:nth-child(1) {
    margin-right: 40px;
}
.projects .project-menu li a {
    color: #101010;
    text-decoration: none;
}
.projects .project-menu li:hover::before {
    content: '';
    position: absolute; bottom: -3px; left: 20%;
    width: 50%;
    height: 2px;
    background: #ffc600;
}
.projects .slim .col-xl-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    justify-content: center;
}
.projects .slim .col-xl-3 img{
    width:100% !important;
}

/* ========= STRATEGIC =========== */
.strategic {
    padding-top: 70px;
    padding-bottom: 65px;
}
.strategic .head_text {
    display:flex;
    font-size: 34px;
    color:#000;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';  
}
.strategic .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.strategic .head .head_top-text {
    margin-right: 12px;
}
.strategic .head .head_top-text:first-letter {
    color:#ffc600;
    font-size: 52px;
}
.strategic .head .head_bott-text:first-letter {
    font-size: 52px;
}
.strategic .head .line {
    width:140px;
    height:1px;
    background: rgb(185, 183, 183);
    margin-left: 130px;
    margin-top: -33px;
}
.strategic .body_top-text {
    font-size: 16px;
    color: #000000;
    font-style: italic;
    font-weight: 700;
}
.strategic .body_bott-text {
    font-size: 16px;
    color: #1d1d1d;
    margin-bottom: 60px;
}
.strategic .slim .col-xl-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    justify-content: center;
}
.strategic .slim .col-xl-5 img{
    width:100% !important;
}
.strategic .right > div:first-child {
    order:2;
}
.strategic .right > div:last-child {
    order:1;
}
.strategic .methods_body {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.strategic .methods_body h3{
    font-size: 34px;
    color:#000;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';  
}
.strategic .methods_body h3 span {
    font-size: 50px;
}
.strategic .methods_body h3::first-letter {
    font-size: 50px;
}
.strategic .methods_body h3 + p {
    font-style: italic;
    color:#101010;
    font-weight: 700;
}

/* ========== SERVICES ======.*/
.services {
    padding-top: 42px;
    padding-bottom: 60px;
    background-image: url(../images/service_bcg.jpg);
    background-size: cover;
    color:white;
}
.services .head_text {
    display:flex;
    font-size: 34px;
    color:#fff;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';  
}
.services .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.services .head .head_top-text {
    margin-right: 12px;
}
.services .head .head_top-text:first-letter {
    color:#ffc600;
    font-size: 52px;
}
.services .head .head_bott-text:first-letter {
    font-size: 52px;
}
.services .head .line {
    width:150px;
    height:1px;
    background: #fff;
    margin-left: 130px;
    margin-top: -33px;
}
.services .column p:first-child {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}
.services .column p:last-child {
    font-size: 12px;
}
.services .container div.row:nth-child(2) {
    margin-bottom: 75px;
}

/* =========== TEAM ============ */
.team {
    padding-top: 82px;
    padding-bottom: 150px;
}
.team .head_text {
    display:flex;
    font-size: 34px;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';  
}
.team .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.team .head .head_top-text {
    margin-right: 12px;
}
.team .head .head_top-text:first-letter {
    color:#ffc600;
    font-size: 52px;
}
.team .head .head_bott-text:first-letter {
    font-size: 52px;
}
.team .head .line {
    width:90px;
    height:1px;
    background: rgb(201, 201, 201);
    margin-left: 70px;
    margin-top: -33px;
}
.team .body_top-text {
    font-size: 16px;
    color: #000000;
    font-style: italic;
    font-weight: 700;
}
.team .body_bott-text {
    font-size: 16px;
    color: #1d1d1d;
    margin-bottom: 32px;
}
.team .team_workers .col-xl-2 h4{
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';
    margin-top: 15px;
}
.team .team_workers .col-xl-2 p {
    font-weight: 700;
    color:#212121;
    font-style: italic;
    font-size: 14px;
}
.team .team_workers .col-xl-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* ============= TESTIMONIALS ============= */
.testimonials {
    background-color: #000;
    padding-top: 55px;
    padding-bottom: 135px;
    color:white;
}
.testimonials .head_text {
    display:flex;
    font-size: 34px;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';  
}
.testimonials .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.testimonials .head .head_top-text {
    margin-right: 12px;
}
.testimonials .head .head_top-text:first-letter {
    color:#ffc600;
    font-size: 52px;
}
.testimonials .head .line {
    width:100px;
    height:1px;
    background: white;
    margin-left: 100px;
    margin-top: -33px;
}
.testimonials .body_top-text {
    font-size: 16px;
    color: white;
    font-style: italic;
    font-weight: 700;
}
.testimonials .body_bott-text {
    font-size: 16px;
    color: white;
    margin-bottom: 32px;
}
.testimonials .tester {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.testimonials .tester h4 {
    font-size: 22px;
    font-weight: bold;
}
.testimonials .tester p {
    font-size: 16px;
    font-style: italic;
}
.testimonials .tester .img_tester {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    background: transparent;
    border-radius: 50%;
    border:4px solid #cc8600;
    margin-bottom: 15px;
}

/* ========= BLOG ============= */
.blog {
    padding-top: 42px;
    padding-bottom: 115px;
    color:black;
}
.blog .blog_nav li a {
    color:black;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition:0.1s ease-in-out;
}
.blog .blog_nav li {
    margin-bottom: 15px;
}
.blog .blog_nav li a:hover{
    color:#ffca12 !important;
}
.blog .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.blog .head_text {
    margin-top: 18px;
    display:flex;
    font-size: 34px;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF'; 
    color:black; 
}
.blog .head .head_top-text {
    margin-right: 12px;
}
.blog .head .head_top-text:first-letter {
    color:#ffc600;
    font-size: 58px;
}
.blog .head .line {
    width:110px;
    height:1px;
    background: rgb(189, 189, 189);
    margin-top: -33px;
}
.blog .blog_row .col-xl-2 {
    display: flex;
    align-items: flex-end;
    margin-top: 115px;
}
.blog .blog_row .col-xl-8 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.blog .blog_post {
    width:26%;
    line-height: 18px;
}
.blog .blog_post h3 {
    font-size: 24px;
    color:#ffc600;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.blog .blog_post h3 + p {
    color:black;
    font-size: 14px;
    font-weight: bold;
}
.blog .blog_post h3 + p + p {
    font-style: italic;
}

/* =========== CONTACT US ============= */
.contact {
    color:white;
}
.contact .maps {
    background: url(../images/contact_map.jpg) no-repeat;
    background-size: auto 100%;
    height: 100vh;
}
.contact .head_text {
    display:flex;
    font-size: 34px;
    font-family: 'MYRIADPRO-SEMIBOLD.OTF';  
}
.contact .head {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 15px;
}
.contact .head .head_top-text {
    margin-right: 12px;
}
.contact .head .head_top-text:first-letter {
    color:#ffc600;
    font-size: 52px;
}
.contact .head .head_bott-text:first-letter {
    font-size: 52px;
}
.contact .head .line {
    width:170px;
    height:1px;
    background: rgb(255, 255, 255);
    margin-left:20px;
    margin-top: -33px;
}
.contact .contact-form {
    background-color: #2046b3;
    height: 100vh;
}
.contact .form-container {
    margin-left: 20px;
    margin-top: 45px;
}